#playgrub-bookmarklet {
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
}

#playgrub-bookmarklet-background {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    opacity: .85;
    background: #000000;
}

#playgrub-bookmarklet-body {
    position: relative;
    z-index: 10001;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica;
}

#playgrub-server-iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    z-index: 10002;
    width: 100%;
}

#playgrub-bookmarklet-content {
    height: 340px;
    overflow: hidden;
    padding: 0px 0px 0px 5px;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica;
}

#playgrub-bookmarklet-header {
    padding: 10px 0px 5px 15px;
    border-bottom: 1px solid #ffffff;
}

#playgrub-bookmarklet-close {
    position: absolute;
    top: 20px;
    right: 25px;
    margin: 0px;
    border: 0px;
}

#playgrub-bookmarklet-status {
    padding: 5px 15px 5px 15px;
    font-size: 10px;
}

#playgrub-bookmarklet-title {
    display: block;
    padding: 5px 10px 0px 0px;
    margin-bottom: 10px;
    font-size: 18px;
}

.playgrub-clickable {
    cursor: pointer;
}

.playgrub-button {
    height: 20px;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    color: #000000;
    background-color: #BBBBBB;
}

.playgrub-button:hover {
    color: #FFFFFF;
}

.playgrub-rounded {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

#playgrub-bookmarklet-buttons {
    margin-top: 20px;
}

#playgrub-bookmarklet-links {
    font-size: 12px;
    margin-top: 20px;
    width: 350px;
}

.playgrub-link {
    margin-right: 10px;
}

.playgrub-link:hover {
    text-decoration: underline;
}

.playgrub-playlist {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    height: 242px;
    overflow: auto;
}

.playgrub-playlist-track {
    font-size: 14px;
    cursor: pointer;
    padding: 3px 0px 3px 5px;
    color: #686868;
}

.playgrub-playlist-track:hover {
    background-color: #35353A;
}

.playgrub-playlist-track-resolved {
    color: #FFFFFF;
}

.playgrub-playlist-track-playing {
    color: #A6EC2E;
}

.playgrub-playlist-track-sid {
    visibility: hidden;
}

#playgrub-playdar-frame {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 200px;
}

#playgrub-playdar-status {
    float: right;
}

#playgrub-playdar-status a:link {
    text-decoration: none;
    color: #ffffff;
}
#playgrub-playdar-status a:active {
    color: #ffffff;
}
#playgrub-playdar-status a:hover {
    text-decoration: underline;
    color: #ffffff;
}
#playgrub-playdar-status a:visited {
    color: #ffffff;
}

#playgrub-playdar-loading {
    position: relative;
    width: 17px;
    height: 17px;
}

#soundmanager-debug-toggle {
    visibility: hidden;
}
