#playgrub-bookmarklet {
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
}

#playgrub-bookmarklet-background {
    position: absolute;
    z-index: 1000000;
    width: 100%;
    height: 100%;
    opacity: .85;
    background: #000000;
}

#playgrub-bookmarklet-body {
    position: relative;
    z-index: 1000001;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica;
}

#playgrub-bookmarklet-header {
    padding: 10px 0px 5px 15px;
    border-bottom: 1px solid #ffffff;
}

#playgrub-bookmarklet-close {
    position: absolute;
    top: 20px;
    right: 25px;
    margin: 0px;
    border: 0px;
}

#playgrub-bookmarklet-content {
    height: 340px;
    overflow: hidden;
    padding: 0px 0px 0px 5px;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica;
}

#playgrub-bookmarklet-status {
    padding: 5px 15px 5px 15px;
    font-size: 10px;
}

#playgrub-server-iframe {
    height: 100%;
    width: 100%;
    border: 0px;
    z-index: 1000002;
}

.playgrub-clickable {
    cursor: pointer;
}


