body {
    font-family: Arial,Helvetica;
    color: #3A3A3A;
    padding: 20px;
}

#page-frame {
    margin: 0 auto;
    min-width: 500px;
}

#playgrub-main {
    float: left;
    width: 240px;
    margin-left: 10px;
}


#playgrub-footer{
    padding: 15px 0px 0px 0px;
    font-size: 12px;
}

#playgrub-main a:link {
    color: #000000;
}
#playgrub-main a:visited {
    color: #000000;
}
#playgrub-main a:active {
    color: #000000;
}
#playgrub-main a:hover {
    color: #ffffff;
    background-color: #000000
}

#playgrub-footer a:link {
    color: #000000;
}
#playgrub-footer a:visited {
    color: #000000;
}
#playgrub-footer a:active {
    color: #000000;
}
#playgrub-footer a:hover {
    color: #ffffff;
    background-color: #000000
}

img {
    border: 0px;
}

.playgrub-about {
    padding: 0px 0px 15px 0px;
}

#playgrub-logo {
    margin-bottom: 20px;
}


#playgrub-icon {
    margin-bottom: 10px;
}

#playgrub-icon img{
    float: left;
    margin-right: 10px;
}

#playgrub-icon a {
    text-decoration: none;
}

#playgrub-icon-description {
    display: block;
    padding-top: 15px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px;
    color: #000000;
}

#playgrub-icon-description-text {
    font-weight: bold;
}
#playgrub-icon-description-arrow {
    height: 70px;
    margin-right: 5px;
    float: left;
    font-weight: bold;
}

#playgrub-supported {
    padding-top: 5px;
    clear: left;
}

#get-playdar {
    padding-top: 5px;
}

#get-playdar a:link {}
#get-playdar a:active {}
#get-playdar a:hover { background: #ffffff; }
#get-playdar a:visited {}

h2 {
    margin-top: 0px;
    color: #000000;
}

h3 {
    color: #000000;
}

h4 {
    margin-top: 5px;
    color: #000000;
}

#bookmarklet {
    font-size: 1.1em;
}

.playlist {
    height: 50px;
    padding: 5px 0px 0px 0px;
}

.playlist-title {
    display: block;
    margin-bottom: 5px;
}

.playlist-title a {
    padding: 0px 5px 0px 0px;
}

.playlist-controls {
    padding: 0px 0px 0px 05px;
}

.playlist-title a:link {
    text-decoration: none;
}
.playlist-title a:active {
    text-decoration: none;
}
.playlist-title a:hover {
    text-decoration: none;
}
.playlist-title a:visited {
    text-decoration: none;
}

.playlist-controls {
    display: block;
    font-size: .75em;
}

.playlist-controls a:link {
    text-decoration: none;
}
.playlist-controls a:active {
    text-decoration: none;
}
.playlist-controls a:hover {
    text-decoration: none;
}
.playlist-controls a:visited {
    text-decoration: none;
}

