body {
    height: 100%;
    font-family: Arial,Helvetica;
    color: #3A3A3A;
    margin: 0px;
    background: #a4a7ac;
}

html {
    height: 100%;
}

#playgrub-main {
    position: absolute;
    overflow: hidden;
    top: 30px;
    bottom: 50px;
    left: 15px;
    width: 200px;
    padding: 15px 20px 20px 20px;
    background: #ffffff;
    font-size: 13px;
}

#playgrub-bookmarklet {
    top: 30px;
    right: 30px;
    bottom: 50px;
    left: 300px;
}

#page-frame {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px auto;
    min-width: 500px;
    padding: 0px;
}

#playgrub-footer-push {
    height: 30px;
    clear: both;
}

#playgrub-footer{
    position: relative;
    height: 24px;
    background: #555658;
    color: #727375;
    padding: 6px 0px 0px 20px;
    font-size: 12px;
}
#playgrub-footer a:link {
    color: #ffffff;
    text-decoration: none;
}
#playgrub-footer a:visited {
    color: #ffffff;
    text-decoration: none;
}
#playgrub-footer a:active {
    color: #ffffff;
    text-decoration: none;
}
#playgrub-footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

#playgrub-main a:link {
    color: #000000;
}
#playgrub-main a:visited {
    color: #000000;
}
#playgrub-main a:active {
    color: #000000;
}
#playgrub-main a:hover {
    color: #ffffff;
    background-color: #000000
}

img {
    border: 0px;
}

.playgrub-about {
    padding: 0px 0px 15px 0px;
}

#playgrub-logo {
    margin-bottom: 20px;
}


#playgrub-icon {
    height: 70px;
    width: 208px;
    background: #dbffb5;
    margin-bottom: 10px;
    margin-left: -5px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
}

#playgrub-icon img{
    float: right;
    margin: 9px 10px 10px 10px;
}

#playgrub-icon a {
    text-decoration: none;
}

#playgrub-icon-description {
    display: block;
    padding-top: 13px;
    padding-left: 15px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 16px;
    color: #000000;
}

#playgrub-icon-description-text {
    font-weight: bold;
}
#playgrub-icon-description-arrow {
    height: 70px;
    margin-right: 5px;
    float: left;
    font-weight: bold;
}

#playgrub-supported {
    padding-top: 5px;
    clear: left;
}

#get-playdar {
    position: absolute;
    bottom: 15px;
    left: 20px;
    padding-top: 0px;
}

#get-playdar a:link {}
#get-playdar a:active {}
#get-playdar a:hover { background: #ffffff; }
#get-playdar a:visited {}

h2 {
    margin-top: 0px;
    color: #000000;
}

h3 {
    color: #000000;
}

h4 {
    margin-top: 5px;
    color: #000000;
}

#bookmarklet {
    font-size: 1.1em;
}

.playlist {
    height: 50px;
    padding: 5px 0px 0px 0px;
}

.playlist-title {
    display: block;
    margin-bottom: 5px;
}

.playlist-title a {
    padding: 0px 5px 0px 0px;
}

.playlist-controls {
    padding: 0px 0px 0px 05px;
}

.playlist-title a:link {
    text-decoration: none;
}
.playlist-title a:active {
    text-decoration: none;
}
.playlist-title a:hover {
    text-decoration: none;
}
.playlist-title a:visited {
    text-decoration: none;
}

.playlist-controls {
    display: block;
    font-size: .75em;
}

.playlist-controls a:link {
    text-decoration: none;
}
.playlist-controls a:active {
    text-decoration: none;
}
.playlist-controls a:hover {
    text-decoration: none;
}
.playlist-controls a:visited {
    text-decoration: none;
}

a.permalink {
	font-size:small;
	font-weight:normal;
	color:#888 !important;
}
