body {
    font-family: Arial,Helvetica;
    padding: 20px;
}

h3 {
    margin-bottom: 15px;
}

h4 {
    margin-top: 5px;
}

#bookmarklets {
    width: 240px;
    float: right;
    margin-right: 15px;
}

#bookmarklet {
    font-size: 1.1em;
}

.playlist {
    margin-bottom: 15px;
}

.playlist-title a:link {
    text-decoration: none;
}
.playlist-title a:active {
    text-decoration: none;
}
.playlist-title a:hover {
    text-decoration: none;
}
.playlist-title a:visited {
    text-decoration: none;
}

.playlist-controls {
    display: block;
    font-size: .75em;
}

.playlist-controls a:link {
    text-decoration: none;
}
.playlist-controls a:active {
    text-decoration: none;
}
.playlist-controls a:hover {
    text-decoration: none;
}
.playlist-controls a:visited {
    text-decoration: none;
}

