#playgrub-player-frame {
    overflow: hidden;
    padding: 0px 0px 0px 5px;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica;
}

.playgrub-playlist {
    position: absolute;
    top: 8px;
    bottom: 90px;
    left: 12px;
    right: 8px;
    overflow: auto;
}

#playgrub-bookmarklet-buttons {
    position: absolute;
    bottom: 40px;
    left: 15px;
}

#playgrub-bookmarklet-title {
    display: block;
    padding: 5px 10px 0px 0px;
    margin-bottom: 15px;
    font-size: 18px;
}

.playgrub-clickable {
    cursor: pointer;
}

.playgrub-button {
    display: block;
    float: left;
    height: 34px;
    width: 88px;
    margin-right: 5px;
    text-align: center;
}

.playgrub-bookmarklet-play-button {
    background-image: url('/images/Play_btn.png');
}
.playgrub-bookmarklet-play-button:hover {
    background-image: url('/images/Play_btn-hover.png');
}

.playgrub-bookmarklet-next-button {
    background-image: url('/images/Play_next_btn.png');
}
.playgrub-bookmarklet-next-button:hover {
    background-image: url('/images/Play_next_btn-hover.png');
}

.playgrub-tracks-toggle {
    background-image: url('/images/Playable_btn.png');
}
.playgrub-tracks-toggle:hover {
    background-image: url('/images/Playable_btn-hover.png');
}

.playgrub-button-active {
    background-image: url('/images/Play_btn-active.png');
}
.playgrub-button-active:hover {
    background-image: url('/images/Play_btn-active.png');
}

.playgrub-tracks-toggle-on {
    background-image: url('/images/Playable_btn-active.png');
}

.playgrub-rounded {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}


#playgrub-playdar-frame {
    position: absolute;
    bottom: 12px;
    right: 15px;
    width: 200px;
}

#playgrub-playdar-status {
    float: right;
}

#playgrub-bookmarklet-links {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 12px;
    text-align: left;
    width: 350px;
}

.playgrub-link {
    margin-right: 10px;
}

.playgrub-link:hover {
    text-decoration: underline;
}

.playgrub-playlist-track {
    font-size: 14px;
    cursor: pointer;
    padding: 3px 0px 3px 5px;
    color: #686868;
    overflow: hidden;
    white-space: nowrap;
}

.playgrub-playlist-track:hover {
    background-color: #35353A;
}

.playgrub-playlist-track-resolved {
    color: #FFFFFF;
}

.playgrub-playlist-track-playing {
    color: #CCFA2B;
}

.playgrub-playlist-track-sid {
    visibility: hidden;
    overflow: hidden;
}


#playgrub-playdar-status a:link {
    text-decoration: none;
    color: #ffffff;
}
#playgrub-playdar-status a:active {
    color: #ffffff;
}
#playgrub-playdar-status a:hover {
    text-decoration: underline;
    color: #ffffff;
}
#playgrub-playdar-status a:visited {
    color: #ffffff;
}

#playgrub-playdar-loading {
    position: relative;
    width: 17px;
    height: 17px;
}

#soundmanager-debug-toggle {
    visibility: hidden;
}
