#playgrub-bookmarklet {
    position: absolute;
    overflow: hidden;
    top: 30px;
    right: 30px;
    bottom: 50px;
    left: 300px;
}

#playgrub-bookmarklet-background {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    opacity: .85;
    background: #000000;
}

#playgrub-bookmarklet-body {
    position: relative;
    height: 100%;
    z-index: 10001;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica;
}

#playgrub-bookmarklet-header {
    height: 15px;
    padding: 12px 0px 10px 17px;
    border-bottom: 1px solid #ffffff;
}

.playgrub-title-nav {
    display: block;
    width: 17px;
    height: 21px;
    margin-top: 5px;
    padding-top: 3px;
    color: #686868;
    border: 1px solid #7b7b7b;
}

.playgrub-nav-active {
    color: #ffffff;
}

.playgrub-nav-active:hover {
    background-color: #35353A;
}

#playlist-nav-buttons {
    margin-top: -12px;
    margin-right: 5px;
    float: right;
    width: 55px;
}

#playgrub-next {
    float: right;
    text-align: right;
    padding-right: 7px;
}

#playgrub-previous {
    float: left;
    padding-left: 7px;
}

#playgrub-playlist-title {
    position: absolute;
    top: 10px;
    left: 13px;
    right: 80px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}

#playgrub-bookmarklet-content {
    position: absolute;
    top: 42px;
    bottom: 10px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica;
}

#playgrub-bookmarklet-status {
    padding: 5px 15px 5px 15px;
    font-size: 10px;
}

#playgrub-server-iframe {
    height: 100%;
    width: 100%;
    border: 0px;
    z-index: 10002;
}

.playgrub-clickable {
    cursor: pointer;
}


.playgrub-clickable a:link {
    color: #ffffff;
    text-decoration: none;
}
.playgrub-clickable a:visited {
    color: #ffffff;
    text-decoration: none;
}
.playgrub-clickable a:active {
    color: #ffffff;
    text-decoration: none;
}
.playgrub-clickable a:hover {
    color: #ffffff;
    text-decoration: underline;
}

#playgrub-logo a:link {
    text-decoration: none;
}
#playgrub-logo a:visited {
    text-decoration: none;
}
#playgrub-logo a:active {
    text-decoration: none;
}
#playgrub-logo a:hover {
    background: #ffffff;
    text-decoration: none;
}
